# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp

# dependencies
/node_modules
/bower_components

# misc
/lcov.dat
/results.tap
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.idea
/build
/vendor
.DS_Store
