{{#if view.component.isLoadingRows}}
    <span class='table-component-loading-icon Knight-Rider-loader animate'>
        <span class='Knight-Rider-bar'></span>
        <span class='Knight-Rider-bar'></span>
        <span class='Knight-Rider-bar'></span>
    </span>
{{/if}}
