.table-component tbody tr td{
    vertical-align: middle;
}
.table-component button.table-cell-button{
    background: none;
    border: none;
}

.table-component-header-cell-sort{
    display: table-row;
}
.table-component .table-component-header-text,
.table-component .table-component-sort-icon-container{
    display: table-cell;
}
.table-component .table-component-row-toggle-cell{
    width: 50px;
    text-align: center;
}
.table-component .table-component-sort-icon-container{
    padding-left: 5px;
    vertical-align: middle;
}


.table-component .table-component-detail-row td{
       border-top: none;
}
.table-component .table-component-detail-row.collapse{
    display: none;
}
.table-component .table-component-detail-row.collapse.in{
    display: table-row;
}
.table-component-loading-row .table-component-loading-cell{
    text-align: center;
}